.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wahoo-game {
  min-height: 80vh;
  min-width: 70vw;
  background-color: lightblue;
  position: relative;
}

.player {
  height: 10%;
  width: 15%;
  position: absolute;
  color: black;
}

.player-1 {
 top: 0%;
 left: 0%;
 background-color: blue;
}

.player-2 {
  top: 0%;
  right: 0%;
  background-color: yellow;
}

.player-3 {
  top: 90%;
  left: 0%;
  background-color: red;
}

.player-4 {
  top: 90%;
  right: 0%;
  background-color: green;
}

.game-board {
  background-color: goldenrod;
  width: 400px;
  height: 400px;
  /* margin: 0 auto; */
  top: 20%;
  left: 27.5%;
  position: relative;
}

.game-slot {
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background-color: lightgrey;
  position: absolute;
}

.game-piece {
  border-radius: 0% !important;
}